*{
    margin: 0;
    padding: 0;
}
.container{
    height: 100vh;
    width: 100vw;
    background-color: #fff;

    display: flex;
    justify-content: center;
    align-items: center;

    flex-wrap: wrap;

    gap: 1rem;

}

.product-card{
    overflow-x: hidden;
    padding: 1rem;
    height: 17rem;
    width: 15rem;
    background-color: #fff;
    border-radius: 25px;
    /* box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1); */
    
    filter: drop-shadow(0px 0px 5px rgba(0, 0, 0, 0.1));
    transition: border,box-shadow 0.3s ease;


}

.product-card:hover{
    border: 1px solid rgb(169, 169, 169);
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
}

.product-heading{
    font-weight: 900;
}

.product-image{
    height: 60%;
    background-image: url(images.jpeg);
    background-repeat: no-repeat;
    background-position: center;
}

.product-details{
    display: flex;
    gap: 1rem;
    align-items: baseline;
    padding-top: 0.5rem;
}

.product-current-price{
    color: #212121;
    font-weight: 800;

    /* color: #388E3C; */
}

.product-original-price{
    color: rgb(82, 81, 81);
    text-decoration: line-through;
    font-size: 0.8rem;
}
.product-discount{
    color: #388E3C;
    font-weight: 800;

}
.product-description{
    border-top: 1px solid rgb(169, 169, 169);
}
